<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <title>yude.jp | {{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="alternate"
        type="application/rss+xml"
        title="yude.jp RSS"
        href="/feed.xml" />
    <link rel="shortcut icon"
        type="image/png"
        href="/assets/images/yudejp.png">

    {% if page.url == '/' %}
    {% include index-rainbow.html %}
    {% endif %}

    <style>
        body {
            background-color: #f7fafc;
        }

        .title {
            animation: title 2.5s linear;
            animation-iteration-count: infinite;
        }

        @keyframes title {

            0%,
            100% {
                color: rgb(0, 0, 255);
            }

            50% {
                color: rgb(255, 0, 255);
            }
        }
    </style>

    {% if page.url == '/' %}
    <style>
        #particles-js {
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
    {% endif %}
</head>

<body>
    <div class="container mt-5">
        <ul class="nav flex-column flex-md-row">
            <div class="container-fluid">
                <a class="navbar-brand"
                    href="#">
                    <img src="/assets/images/yudejp.png"
                        alt="yude.jp logo"
                        width="40"
                        height="40"
                        class="d-inline-block align-text-top">
                    <a class="text-decoration-none title fs-3 font-monospace"
                        href="/"
                        style="position: relative; top: 6px"
                        tabindex="-1"
                        aria-disabled="true">yude.jp</a>
                </a>
            </div>
            <li class="nav-item">
                <a class="nav-link{% if page.url == '/profile/' %} active{% endif %}"
                    href="{% if page.url == '/profile/' %}#{% else %}/profile{% endif %}"><i
                        class="fa-solid fa-user"></i>
                    プロフィール</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page.url == '/blog/' %} active{% endif %}"
                    href="{% if page.url == '/blog/' %}#{% else %}/blog{% endif %}"><i class="fa-solid fa-blog"></i>
                    ブログ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page.url == '/services/' %} active{% endif %}"
                    href="{% if page.url == '/services/' %}#{% else %}/services{% endif %}"><i
                        class="fa-solid fa-star"></i> サービス</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"><i class="fa-solid fa-egg"></i> その他</a>
                <ul class="dropdown-menu">
                    <li><span class="dropdown-item-text">外部リンク</span></li>
                    <li><a class="dropdown-item"
                            href="https://discord.gg/X6srY7X"><i class="fa-brands fa-discord"></i> Discord サーバー</a></li>
                    <li><a class="dropdown-item"
                            href="https://github.com/yudejp"><i class="fa-brands fa-github"></i> GitHub Organization</a>
                    </li>
                    <hr class="dropdown-divider">
                    <li><span class="dropdown-item-text">他のページ</span></li>
                    <li><a class="dropdown-item"
                            href="{% if page.url == '/links/' %}#{% else %}/links{% endif %}"><i
                                class="fa-solid fa-link"></i> リンク集</a></li>
                    <li><a class="dropdown-item"
                            href="{% if page.url == '/tos/' %}#{% else %}/tos{% endif %}"><i
                                class="fa-solid fa-wand-sparkles"></i> yude.jp サービス利用規約</a></li>
                    <li><a class="dropdown-item"
                            href="{% if page.url == '/hcunews/' %}#{% else %}/hcunews{% endif %}"><i
                                class="fa-solid fa-newspaper"></i> @hcunews について</a></li>
                </ul>
        </ul>

        <nav aria-label="breadcrumb"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
            <ol class="breadcrumb">
                {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                <li class="breadcrumb-item"><a href="/">🏠 ホーム</a></li>
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                <li class="breadcrumb-item active"
                    aria-current="page">{{ page.title }}</li>
                {% else %}
                <li class="breadcrumb-item"><a
                        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{
                        crumb | replace:'-',' ' | remove:'.html' | capitalize | replace:'Blog', '📕 ブログ' }}</a></li>
                {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <div style="min-height: 30rem">
            {{ content }}
        </div>
        <hr>
        <div>
            <a href="https://sites.google.com/site/happybusy/"><img style="margin-left: auto; margin-right:auto"
                    src="/assets/images/busy_banner.png"></a>
        </div>
        <div class="mt-2">
            <img src="https://count.getloli.com/get/@yude?theme=asoul"
                alt=":yude" />
        </div>
        <div class="mt-2">
            <p>
                リビジョン: {{ site.github.build_revision }} (<a href="{{ site.github.repository_url }}">リポジトリ</a>)<br>
                <a href="https://jekyllrb-ja.github.io/">Jekyll</a>
                によってビルドされ、GitHub
                Pages 上でホストされています。<br>
                &copy; 2022 yude &lt;i[at]yude.jp&gt;. <a
                    href="https://github.com/yudejp/yude.jp/blob/main/README.md">詳細</a><br>
            </p>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    {% if page.url == '/' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 20,
                    "density": {
                        "enable": false,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#2f2f2f"
                },
                "shape": {
                    "type": "star",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "http://wiki.lexisnexis.com/academic/images/f/fb/Itunes_podcast_icon_300.jpg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 4,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": false,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 14,
                    "direction": "left",
                    "random": false,
                    "straight": true,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": false,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 200,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
        update = function () {
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>
    {% endif %}
</body>

</html>