---
layout: default
---
<article class="post h-entry"
    itemscope
    itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name"
            itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <i class="fa-solid fa-tags"></i>
            {% for tag in page.tags %}
            <span class="badge rounded-pill bg-success">{{ tag }}</span>
            {% endfor %}

            {%- assign date_format = site.minima.date_format | default: "%Y/%-m/%-d" -%}
            <i style="margin-left: 3px"
                class="fa-solid fa-calendar-days"></i>
            <time class="dt-published"
                datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished">
                {{ page.date | date: date_format }}
            </time>
            {%- if page.modified_date -%}
            ~
            {%- assign mdate = page.modified_date | date_to_xmlschema -%}
            <time class="dt-modified"
                datetime="{{ mdate }}"
                itemprop="dateModified">
                {{ mdate | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.author -%}
            • {% for author in page.author %}
            <span itemprop="author"
                itemscope
                itemtype="http://schema.org/Person">
                <span class="p-author h-card"
                    itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}
        </p>
    </header>

    <div class="post-content e-content"
        itemprop="articleBody">
        {{ content }}
    </div>

    <p><strong>匿名でコメントできます。</strong><br>「または Disqus に登録」の下にある「名前」をクリックしてから、「ゲストとして投稿する」にチェックを入れてください。</p>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        /*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

        var disqus_config = function () {
            this.page.url = "https://yude.jp{{ page.url | safe }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.id | safe }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://yudejp.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>

    <a class="u-url"
        href="{{ page.url | relative_url }}"
        hidden></a>
</article>